{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}
Gestion du RestaurCMS
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">Administration du RestaurCMS</a>
</h1>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <!-- Include your custom stylesheets here -->
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script>
        (function ($) {
            $(document).ready(function () {
                $('#id_discount, #id_order').change(function () {
                    const discountId = $('#id_discount').val();
                    const orderId = $('#id_order').val();

                    if (orderId) {
                        $.ajax({
                            url: `/api/restaurant/calculate-payment-amount/`,
                            data: {
                                'discount_id': discountId,
                                'order_id': orderId
                            },
                            success: function (response) {
                                $('#id_amount').val(response.amount);
                            }
                        });
                    }
                });
            });
        })(django.jQuery);
    </script>
{% endblock %}
